<%= form_for @employee do |f| %>

<table>
<th> fname </th>
<th> lname </th>
<th>age</th>
<th> division</th>
</table>
  <center>
  <p>
    <%= f.label :fname %><br />
    <%= f.text_field :fname %>
  </p>
  <p>
    <%= f.label :lname %><br />
    <%= f.text_field :lname %>
  </p>
  <p>
    <%= f.label :age %><br />
    <%= f.number_field :age %>
  </p>
  <p>
    <%= f.label :division %><br />
    <%= f.text_field :division %>
  </p>
  <p><%= f.button %></p>
  </center>
  
<% end %>
