<!DOCTYPE html>
<html>
<head>
  <title>Newproject1</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>



<style>
h1 {color:#00ff00;}
</style>


<header>


    <center> <h1>WELCOME TO MY SAMPLE APPLICATION </h1> </center>
   
  </header>
<body>
<%= flash[:notice] %>
<%= yield %>

<body bgcolor="#808080">





<footer>
  <center> <p>Posted by: Silu</p>
  <p>Contact information: <a href="email:siluis4u@gmail.com">siluis4u@gmail.com</a></p> </center>
</footer>


</body>
</html>
